/* Photos.css */
.photos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
  max-width: 1200px; /* Adjust as needed */
  width: 100%;
}

.photos img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.photos img:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .photos {
    grid-template-columns: 1fr 1fr;
  }
}